
@font-face {
    font-family: 'BlancoRegular';
    src: url('https://static1.squarespace.com/static/557a63fce4b0ce57bf20615b/t/66a868b12b568653087b8289/1722312881511/BlancoTrial-Regular.otfhttps://static1.squarespace.com/static/557a63fce4b0ce57bf20615b/t/66a868b12b568653087b8289/1722312881511/BlancoTrial-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'prestigeitalics';
    src: url('https://static1.squarespace.com/static/579977461b631b51b014916b/t/5e3b9d269f9dc6477d2b6fd1/1580965159057/PrestigeEliteStd-Slanted.otf') format('woff');
}

@font-face {
    font-family: 'FavoritRegular';
    src: url('https://static1.squarespace.com/static/557a63fce4b0ce57bf20615b/t/66a86b24b417116e19c8dbc7/1722313508368/Favorit-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'FavoritLight';
    src: url('https://static1.squarespace.com/static/557a63fce4b0ce57bf20615b/t/66a86b1b3e417d18aaf588a2/1722313499499/Favorit-Light.otf') format('opentype');
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
}

/*HEADER*/
.header{
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    background-color: lightgoldenrodyellow;
    -webkit-box-shadow: 0 1px 8px -8px black;
    -moz-box-shadow: 0 1px 8px -8px black;
    box-shadow: 0 1px 8px -8px black;
}

.title{
    display: flex;
    font-size: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    font-family: FavoritRegular;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 10px;
    margin-right: 40px;
    font-family: FavoritRegular;
}

.links ul{
    display: flex;
}

.links ul li {
    list-style-type: none;
    padding-right: 20px;
}  

a:link { 
    text-decoration: none;
    color: black;
}
a:visited { 
    text-decoration: none;
    color: black;
}
a:hover { 
    text-decoration: none; 
    color: grey;
}
a:active { 
    text-decoration: none; 
    color:black;
}

/*CONTENT*/
.main{
    display: flex;
    width: 80%;
    padding: 140px 0px 50px 0px;
    margin: 0 auto;
    flex-direction: column;
}

.homeblock{
    display: flex;
    columns: 2;
    column-gap: 30px;
}

.homeimage{
    width: 50%;
    display: inline-block;
}

.homeabout{
    font-size: 18px;
    width: 50%;

}

h1{
    font-family: 'FavoritRegular';
    font-size: 18px;
}

h2{
    font-family: 'BlancoRegular';
    font-size: 16px;

}

h3 {
    font-family: 'FavoritRegular';
    font-size: 14px;
    color: #333333;
}

/*FOOTER*/
footer{
    display: flex;
    font-size: 16px;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 40px 20px 20px 0px;
    text-align: center;
    font-family: FavoritRegular;
}
footer ul{
    margin: 0 auto;
}
footer ul li {
    display:inline-block;
    list-style-type: none;
    padding: 20px 10px;
}
